---
layout: default
---

<section>
  <h1 class="text-3xl mb-4">{{ page.title }}</h1>
  <div class="mb-8">
    {{ content }}
  </div>

  <h2 class="text-xl mb-4 border-b border-[#444] pb-1">Posts</h2>
  <ul>
    {% for post in site.posts %}
    <li class="mb-8">
      <h3 class="text-lg text-parchment mb-1">
        <a href="{{ post.url | relative_url }}" class="hover:text-[#f4e3b2]">
          {{ post.title }}
        </a>
      </h3>
      <p class="text-sm text-[#aaa] mb-2">
        {{ post.date | date: "%B %-d, %Y" }}
      </p>

      <p class="text-[#ccc] italic mb-1">
        {{ post.excerpt }}
      </p>
      <p>
        <a href="{{ post.url | relative_url }}" class="read-more">Read more →</a>
      </p>
    </li>
    {% endfor %}
  </ul>
</section>

